# -------------------------
# Compilados/binaries (tu base)
# -------------------------
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# -------------------------
# Visual Studio / MSVC
# -------------------------
# Carpetas de build comunes
/x64/
/x86/
/Debug/
/Release/
/RelWithDebInfo/
/MinSizeRel/
/bin/
/bin-int/
/out/
/build/
/_build/
/cmake-build-*/

# Archivos intermedios y símbolos
*.pdb
*.ipdb
*.iobj
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.obj.enc
*.log

# Proyectos/usuario temporales
/.vs/
*.VC.db
*.VC.opendb
*.user
*.userprefs
*.suo

# -------------------------
# Rider / JetBrains / VSCode
# -------------------------
/.idea/
/.vscode/

# -------------------------
# CMake basura de usuario
# -------------------------
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# -------------------------
# Otros frecuentes
# -------------------------
# Crash dumps, profiling, etc.
*.dmp
*.opendb
*.tmp

# No subas binarios del SDK ni layers logs
vkconfig/*
